Flask==2.3.3
Flask-CORS==4.0.0
Flask-JWT-Extended==4.5.3
PyMongo==4.6.1
bcrypt==4.1.2
python-dotenv==1.0.0
email-validator==2.1.0
Pillow==10.4.0
Werkzeug==2.3.7
gunicorn==22.0.0
numpy==1.26.4
tensorflow==2.16.2
MarkupSafe==2.1.5
Jinja2==3.1.4
itsdangerous==2.1.2
click==8.1.7
